<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCase.HomePageBar"/>
      <class name="TestCase.Login"/>
      <class name="Utils.TestBase"/>
      <class name="TestCase.Product"/>
      <class name="TestCase.CheckOut"/>
      <class name="TestCase.ProductCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
